@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind utilities;

@theme {
	--font-PPMori: 'PP Mori', sans-serif;
	--font-sans: 'PP Mori', sans-serif;
	--font-w95fa: 'W95FA', sans-serif;
	--color-gallery-50: #f9f7f5; /* // Main Background (Airy) */
	--color-gallery-100: #f2efec; /*  // Hover states */
	--color-gallery-200: #e6e0db; /*  // Borders / Dividers */
	--color-gallery-300: #d6d0ca; /*  // Deep Borders */
	--color-gallery-400: #a8a29d; /*  // Icons / Disabled text */
	--color-gallery-500: #857f7a; /*  // Muted Text (Subtitles) */
	--color-gallery-600: #635e59; /*  // Body Text (Secondary) */
	--color-gallery-700: #45413d; /*  // Body Text (Primary) */
	--color-gallery-800: #2e2b29; /*  // Headings */
	--color-gallery-900: #1c1917; /* // "Black" / Strongest contrast */

	--color-accent-50: #fff5eb;
	--color-accent-100: #ffe8d6;
	--color-accent-200: #ffd1ad;
	--color-accent-300: #ffb785;
	--color-accent-400: #ff9652;
	--color-accent-500: #ff7411; /* MAIN BRAND ACCENT */
	--color-accent-600: #e65c00;
	--color-accent-700: #cc4600;
	--color-accent-800: #993300;
	--color-accent-900: #662200;
}
